:root {
  --bg-blue-100: #020617;
  --bg-blue-80: #0f172a;
  --bg-blue-60: #1e293b;
  --bg-blue-50: #334155;
  --bg-blue-40: #475569;
  --bg-blue-30: #64748b;
  --bg-blue-20: #94a3b8;
  --bg-blue-10: #cbd5e1;
  --white: #ffffff;
  --highlight-purple: #dcf836;
}
/* 
// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 200 to 800 
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: auto;

  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  /* background: var(--bg-blue-100);
  background: linear-gradient(
    180deg,
    var(--bg-blue-100) 44%,
    var(--bg-blue-60) 100%
  ); */
  background-color: var(--bg-blue-100);
}

/* HEADER ----------------------- */

.header {
  width: 100vw;
  height: 76px;
  background-color: var(--bg-blue-80);
}

.nav {
  display: grid;
  grid-template-rows: 1fr 0.7fr;
  /* justify-content: center; */
  /* padding: 0 15px 0 15px; */
}

.section {
  display: grid;
  grid-template-columns: 25% 55% 20%;
  justify-items: center;

  align-items: center;
  height: 44px;
  padding: 0 15px;

  border-bottom: 1px solid var(--bg-blue-60);
}

.section__link-logo {
  display: flex;
  /* width: 72.5px; */
  justify-self: start;
  max-width: 130px;
  height: 29px;
  max-height: 30px;
  margin: 0 5px 0 0;
}

.section__logo {
  width: 100%;
  height: 100%;
}

.section__links {
  display: flex;
  justify-content: space-evenly;

  min-width: 148px;

  font-weight: 700;
}

.section__links .section__link {
  text-decoration: none;
  color: var(--bg-blue-10);

  font-size: 16px;
  text-transform: uppercase;
}

.section__links .section__link--movies {
  color: var(--highlight-purple);
}

.section__icons {
  display: flex;
  /* justify-content: end; */
  justify-self: end;
  gap: 10px;
}

.section-menu {
  display: flex;
  justify-content: space-evenly;

  align-items: center;

  font-weight: bold;
  height: 30px;
}

.menu__link {
  text-decoration: none;
  color: var(--bg-blue-10);
  font-size: 14px;
  /* justify-self: center; */
}

.dropdowm {
  display: flex;
  align-items: center;
  gap: 4px;
}

.dropdowm__icon {
  width: 8.7px;
  height: 14px;
}

/* MAIN ----------------------- */

.container {
  width: 100vw;
  /* max-width: 1000px; */
  height: auto;
  display: grid;
  justify-items: center;
}

.container__div {
  width: 90%;
  position: relative;
  display: flex;
  align-items: center;
}

.banner {
  /* width: 200px;
  height: 200px;
   */
  /* position: relative; */
  overflow: hidden;
  margin: 15px 0 0;
  /* padding: 15px 0 0; */
  border: 1px solid var(--bg-blue-100);
}

.banner .banner__movie {
  width: 100%;
  max-width: 538px;
  height: 100%;

  /* transform: scale(1); */
  /* object-fit: cover; */
}

.orientation {
  position: absolute;
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: auto;
  top: 50px;
  padding: 0 15px;
}

.left,
.right {
  display: flex;
  background-color: var(--bg-blue-80);
  opacity: 0.9;
  border-radius: 4px;
}

.details {
  position: absolute;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  width: 100%;
  height: 60%;
  color: var(--white);
  text-shadow: 1px 1px 1px var(--bg-blue-100);
  /* text-shadow: 1px 1px 1px black,
    -1px -1px 1px black, 1px -1px 1px black,
    -1px 1px 1px black; */
  /* -webkit-text-stroke: 1px black; */
  padding: 15px;
}

.details__others {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.others {
  width: 54px;
  height: 34px;
  /* justify-self: center; */
  text-align: center;
  align-content: center;
  border-radius: 10px;
  border: 1px solid var(--bg-blue-10);
}

.hidden {
  width: 100%;
  height: 90px;
  position: absolute;
  background-color: var(--bg-blue-60);
  bottom: 0;

  /* background: rgb(20, 29, 46);
  background: linear-gradient(
    180deg,
    rgba(20, 29, 46, 1) 0%,
    rgba(30, 41, 59, 1) 100%
  ); */
  background-color: var(--bg-blue-100);
}

/* 
a: 290 max 538
h: 350.891 max 614

#141d2e
#141d2f
#161f30
#1e293b
*/
