:root {
  --bg-blue-100: #020617;
  --bg-blue-80: #0f172a;
  --bg-blue-60: #1e293b;
  --bg-blue-50: #334155;
  --bg-blue-40: #475569;
  --bg-blue-30: #64748b;
  --bg-blue-20: #94a3b8;
  --bg-blue-10: #cbd5e1;
  --highlight-purple: #dcf836;
}
/* 
// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 200 to 800 
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  background: rgb(2, 6, 23);
  background: linear-gradient(
    180deg,
    rgba(2, 6, 23, 1) 44%,
    rgba(30, 41, 59, 1) 100%
  );
}

.header {
  width: 100vw;
  height: 76px;
  background-color: var(--bg-blue-80);
}

.nav {
  display: grid;
  grid-template-rows: 1fr 0.7fr;
  /* justify-content: center; */
  /* padding: 0 15px 0 15px; */
}

.section {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  align-items: center;

  height: 44px;
  padding: 0 15px;

  border-bottom: 1px solid var(--bg-blue-60);
}

.section__link-logo {
  /* width: 72px;
  max-width: 120px;
  height: 29px;
  max-height: 30px; */
}

.section__logo {
  width: 100%;
  max-width: 130px;
  height: 100%;
  min-height: 29px;
  max-height: 30px;
}

.section__links {
  display: flex;
  justify-content: center;
  gap: 10px;

  font-weight: 700;
}

.section__links .section__link {
  text-decoration: none;
  color: var(--bg-blue-10);

  font-size: 16px;
  text-transform: uppercase;
}

.section__links .section__link--movies {
  color: var(--highlight-purple);
}

.section__icons {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.section-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  font-weight: bold;
  /* padding: 0 10px 0 10px; */
  /* gap: 6px; */
  /* margin: 0 auto; */
  /* display: grid;

  grid-template-columns: repeat(
    auto-fit,
    minmax(min(20px, 100%), 1fr)
  );
  justify-items: center;
  max-width: 364px; */
}

.menu__link {
  text-decoration: none;
  color: var(--bg-blue-10);
  font-size: 14px;
}

.dropdowm {
  display: flex;
  align-items: center;
  gap: 4px;
}

.dropdowm__icon {
  width: 8.7px;
  height: 14px;
}

/* .poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}
 */
