<body>
  <figure class="footer-figure">
    <img class="figure-img" src="./img/lookmovie-logo.png" alt="" />
  </figure>
  <span class="footer-contact">Contact Us</span>
  <p class="footer-info">
    Watch Online is a free movie and TV shows streaming site. With over
    50,000 movies and TV Shows we let you watch each movie online
    without having to register or pay. You can also bookmark or share
    each full movie and episode to watch it later if you want.
  </p>
  <!-- <span class="footer-line"></span> -->
  <!-- <span class="footer-backtotop">Back to top ⬆</span> -->
</body>
