:root {
  --bg-blue-100: #020617;
  --bg-blue-80: #0f172a;
  --bg-blue-60: #1e293b;
  --bg-blue-50: #334155;
  --bg-blue-40: #475569;
  --bg-blue-30: #64748b;
  --bg-blue-20: #94a3b8;
  --bg-blue-10: #cbd5e1;
  --white: #ffffff;
  --highlight-green: #dcf836;
  --highlight-pink: #de2239;
}

body {
  width: 100vw;
  color: var(--bg-blue-20);
}

.login-container {
  display: flex;
  width: 100vw;
  height: 84vh;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 25px 0 0 0;
  background-color: var(--bg-blue-100);
}

.form {
  display: grid;
  width: 94%;
  max-width: 460px;
  height: 80%;
  /* margin: 0 10px; */
  padding: 15px;
  border-radius: 4px;

  border: 2px solid var(--bg-blue-40);
  font-weight: bolder;
  background-color: var(--bg-blue-80);
}

.form-group {
  display: grid;
  align-items: center;
  width: 100%;
  height: 100%;
}

input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 3px;
  background-color: var(--bg-blue-60);
}

.form-group.remember {
  display: flex;
  justify-items: start;
  gap: 5px;
}

.remember .checkbox {
  width: auto;
}

.form-group.forgot {
  display: flex;
  justify-content: end;
}

.form-group a {
  text-decoration: none;
  color: #337ab7;
  font-weight: 500;
}

.button {
  border: none;
  font-weight: bold;
  color: var(--bg-blue-10);
  background-color: var(--highlight-pink);
}

/* @media screen and (min-width: 540px) {
  body .header,
  body .login-container {
    width: 100%;
  }

  .section-menu {
    justify-content: center;
    gap: 2%;
  }
} */
