/* 640px - 740*/

:root {
  --bg-blue-100: #020617;
  --bg-blue-80: #0f172a;
  --bg-blue-60: #1e293b;
  --bg-blue-50: #334155;
  --bg-blue-40: #475569;
  --bg-blue-30: #64748b;
  --bg-blue-20: #94a3b8;
  --bg-blue-10: #cbd5e1;
  --white: #ffffff;
  --highlight-green: #dcf836;
  --highlight-pink: #de2239;
}

.details__others {
  justify-content: start;
  gap: 25px;
}

.main {
  width: 90vw;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(260px, 100%), 1fr)
  );
  margin: 0 auto;

  gap: 30px;
}

.main__section {
  aspect-ratio: 4/6;

  max-width: none;
  filter: drop-shadow(0px 0px 3px var(--bg-blue-10));
}

.main .details-div {
  width: 100%;
  grid-template-columns: none;
  position: relative;
}

.details__figure img {
  width: 100%;
  height: 100%;
}

.details__more {
  /* height: 100%; */
  /* display: none; */
  position: absolute;
  flex-direction: column-reverse;
  justify-content: space-between;
  /* align-content: space-between; */

  color: var(--white);
  /* color: var(--highlight-green); */
  top: 0;
  bottom: 0;
  padding: 20px;
}

/* nth: ennesima */
.details__more p:nth-child(2) {
  width: fit-content;
  order: 1;
  /* flex: 1; */
  padding: 2px 6px;
  border-radius: 6px;
  background-color: var(--bg-blue-80);
  opacity: 0.9;
}

/* .details__more p:nth-child(2)::before {
  content: "⭐";
  color: var(--bg-blue-20);
  font-size: 14px;
} */

.details__more p:nth-child(2)::after {
  content: "/10";
  color: var(--bg-blue-20);
  font-size: 14px;
}

.details__more p:nth-child(3) {
  /* color: darkgrey;
  order: 1; */
  display: none;
}

.details__more h3 {
  width: fit-content;
  /* top: 40px; */
  padding: 2px 6px;
  border-radius: 6px;
  background-color: var(--bg-blue-80);
  font-size: 16px;
  opacity: 0.9;
}

.details__more h3:hover {
  color: var(--highlight-green);
}

.button-description {
  display: none;
}

/* .description.disabled {
  display: none;
} */

/* Test */

@media screen and (min-width: 740px) {
  .header {
    padding: 0 4%;
  }

  .nav {
    max-width: 1160px;
    margin: 0 auto;
  }

  /* Test */

  .section {
    border-bottom: none;
    /* grid-template-columns: 50% 25% 25%; */
    grid-template-columns: 200px 160px;
    /* padding: 0 0 0 100px; */
    padding: 0 100px;

    justify-content: space-between;
  }

  .section__link-logo {
    position: absolute;

    bottom: -14px;
    top: 0;
    align-self: flex-end;
    margin: 0;
  }

  .section__links {
    justify-content: space-between;
  }

  .search {
    bottom: -22px;
  }

  /* .section__icon--search {
    bottom: -40px;
  } */

  /* .section__search.disabled {
    display: block;
  }

  .section__search {
    width: 30vw;
    max-width: 440px;
  }

  .close-icon {
    display: none;
  } */

  .section__search {
    width: 34vw;
    min-width: 400px;
    /* max-width: 440px; */
    right: -20px;
    top: -38px;
    /* bottom: 0; */
    /* align-content: start; */
  }

  /* .section__show--movies.disabled {
  } */

  .section__icons.login {
    position: absolute;
    align-items: center;
    margin: 0;
    bottom: -14px;
    right: 0;
    gap: 10px;
  }

  .section__icons.login button {
    /* width: 60px; */

    border: 2px solid var(--bg-blue-10);
    border-radius: 20px;
    font-weight: bold;
    color: var(--bg-blue-10);
    background-color: var(--bg-blue-80);
    padding: 5px 10px;
  }

  /*  */

  .section-menu {
    /* display: grid; */
    width: 360px;
    margin: 0 0 0 100px;
    justify-content: space-evenly;
  }

  .section-menu a:nth-child(1) {
    display: none;
  }

  .container {
    max-width: 1160px;
  }
  .main {
    max-width: 1160px;
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(200px, 100%), 1fr)
    );
  }

  .details__more {
    padding: 20px 10px 10px;
  }

  .footer {
    max-height: 200px;
  }

  .footer .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer-container,
  footer-info {
    max-width: 1160px;
  }

  .footer-container .footer-figure {
    width: 100%;
    text-align: start;
  }

  .footer-figure .figure-img {
    width: 140px;
    height: 40px;
  }

  .footer-contact {
    width: 14%;
  }

  .footer-info {
    width: 74%;
  }
}
