:root {
  --bg-blue-100: #020617;
  --bg-blue-80: #0f172a;
  --bg-blue-60: #1e293b;
  --bg-blue-50: #334155;
  --bg-blue-40: #475569;
  --bg-blue-30: #64748b;
  --bg-blue-20: #94a3b8;
  --bg-blue-10: #cbd5e1;
  --white: #ffffff;
  --highlight-green: #dcf836;
  --highlight-pink: #de2239;
}
/* 
// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 200 to 800 
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: auto;

  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--bg-blue-100);
}

/* HEADER ----------------------- */

.header {
  width: 100vw;
  height: 76px;
  background-color: var(--bg-blue-80);
}

.nav {
  display: grid;
  grid-template-rows: 1fr 0.7fr;
}

/* SECTIONS ----------------------------- */

.section {
  display: grid;
  grid-template-columns: 25% 55% 10% 10%;
  justify-items: center;

  align-items: center;
  height: 44px;
  padding: 0 10px; /* test */

  border-bottom: 1px solid var(--bg-blue-60);
  position: relative;
}

.section__link-logo {
  display: flex;
  justify-self: start;
  max-width: 130px;
  height: 29px;
  max-height: 30px;
  margin: 0 5px 0 0;
}

.section__logo {
  width: 100%;
  height: 100%;
}

.section__links {
  display: flex;
  justify-content: space-evenly;

  min-width: 148px;

  font-weight: 700;
}

.section__links .section__link {
  text-decoration: none;
  color: var(--bg-blue-10);

  font-size: 16px;
  text-transform: uppercase;
}

.section__links .section__link--movies {
  color: var(--highlight-green);
}

/* Search ----------------------------- */

.search {
  display: flex;

  height: auto;
  z-index: 1;
  position: relative;
}

.section__search {
  width: 100vw;
  display: grid;
  grid-template-rows: 60px auto;
  /* background-color: transparent; */
  position: absolute;
  gap: 4px;
  right: -17vw;
  top: -15px;
}

.section__search.disabled {
  display: none;
}

.section__search--movie {
  width: 100%;
  /* height: 52px; */
  height: 60px;
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 4px solid var(--bg-blue-100);
  border-radius: 32px;
  background-color: var(--bg-blue-60);
}

.section__search--movie img {
  width: 25px;
}

.section__search--movie input {
  width: 100%;
  height: 32px;
  margin: 0 15px;

  color: var(--bg-blue-10);
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 500;
}

.section__search--movie input::placeholder {
  font-size: 14px;
  color: var(--bg-blue-20);
}

.section__search--movie input:focus {
  outline: none;
  caret-color: var(--bg-blue-10);
}

.section__show--movies {
  display: grid;
  gap: 15px;
  padding: 10px 15px;
  border: 4px solid var(--bg-blue-100);
  color: var(--bg-blue-10);
  background-color: var(--bg-blue-60);
}

.section__show--movies.disabled {
  display: none;
}

.section__show--movies .container-movies,
.container-shows {
  display: grid;
  gap: 15px;
}

.section__show--movies .container-movie,
.container-show {
  width: 100%;
  display: grid;
  grid-template-columns: 70px auto;
  align-items: center;
  gap: 10px;
}

.container-movie figure,
.container-show figure {
  display: flex;
  position: relative;
}

.container-movie img,
.container-show img {
  width: 70px;
  height: 40px;
  object-fit: cover;
}

.container-movie span,
.container-show span {
  width: 40px;
  height: 15.5px;
  text-align: center;
  color: var(--white);
  font-size: 12px;
  font-weight: bold;
  background-color: var(--bg-blue-100);
  position: absolute;
  right: 0;
  bottom: 0;
}

.movie-details {
  display: flex;
  height: 20px;
  gap: 5px;
}

.movie-details .star-icon {
  display: block;
  width: 20px;
}

.movie-details .star-icon .star-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* Login -----------------------  */

.login {
  display: flex;
  position: relative;
  margin: 0 0 0 10px;
}

.login__credentials {
  display: none;
  width: 160px;
  height: 83px;
  border-radius: 4px;
  background-color: var(--bg-blue-20);
  position: absolute;
  align-items: center;
  top: 34px;
  right: 0;
  z-index: 1;
}

.login-access,
.signup-access {
  text-decoration: none;
  color: var(--bg-blue-80);
  font-size: 18px;
  font-weight: 700;
  padding: 10px 20px;
}

.login__credentials .line {
  width: 100%;
  border: 1px solid var(--bg-blue-30);
}

/* Section Menu: Trending, Latest, Categories, Genres y Filter */
.section-menu {
  display: flex;
  /* position: relative; */
  justify-content: space-evenly;

  align-items: center;

  font-weight: bold;
  height: 30px;
}

.menu__link {
  text-decoration: none;
  color: var(--bg-blue-10);
  font-size: 14px;
}

.dropdowm {
  display: flex;
  align-items: center;
  gap: 4px;
}

.dropdowm__icon {
  width: 8.7px;
  height: 14px;
}

/* Categories ---------------- */

.categories {
  /* display: none; */
  width: 100%;
  opacity: 0;
  min-height: 0;
  overflow: hidden;
  z-index: -1;
  transition: opacity 0.5s ease, min-height 0.5s ease;
  background-color: var(--bg-blue-100);
}

.categories-active {
  z-index: 1;
  min-height: 380px;
  aspect-ratio: 1/1.18;
  opacity: 1;
  border-bottom: 1px solid var(--bg-blue-80);
}

.categories ul {
  /* height: 0; */
  aspect-ratio: 1/1.18;
  /* min-height: 380px; */
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.categories ul li {
  width: 120px;
  height: 36px;
  list-style: none;
  padding: 5px;
  font-weight: 600;
}

.categories ul li a {
  text-decoration: none;
  color: var(--bg-blue-10);

  cursor: pointer;
}

/* MAIN ----------------------- */

.container {
  width: 90vw;
  height: auto;
  margin: 15px auto;
  overflow: hidden;
}

.slider-container {
  display: flex;
  aspect-ratio: 16/20;
}

.container__div {
  flex: 0 0 100%;
  width: 100%;
  max-height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  object-fit: cover;
}

.banner .banner__movie {
  width: 100%;
}

.orientation {
  position: absolute;
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: auto;
  top: 20px;
  padding: 0 15px;
}

.left,
.right {
  display: flex;
  background-color: var(--bg-blue-80);
  opacity: 0.9;
  border-radius: 4px;
}

.details {
  position: absolute;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: auto;
  gap: 10px;
  max-height: 300px;
  color: var(--white);
  text-shadow: 1px 1px 1px var(--bg-blue-100);

  padding: 15px 15px 0;
}

.details__title {
  font-size: 24px;
  height: auto;
}

.details__others {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; /* 👈👀 */
  margin: 5px 0;
}

.others {
  display: flex;
  width: 58px;
  height: 34px;
  justify-content: space-evenly;
  align-items: center;

  border-radius: 10px;
  color: var(--bg-blue-10);
  background-color: var(--bg-blue-100);
  opacity: 0.9;
  font-weight: bold;
}

.others .icon {
  width: 20px;
  height: 20px;
}

.highlight {
  background-color: var(--highlight-green);
  color: var(--bg-blue-100);
  font-weight: 900;
  text-shadow: none;
}

.details__genre {
  font-weight: bold;
}

.details__overview {
  font-size: 18px;

  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  height: 70px;
}

.watch {
  width: 110px;
  height: 35px;
  border-radius: 5px;
  border: none;
  align-self: center;
  /* bottom: 6vw; */
  font-weight: 600;
  font-size: 15px;
  color: var(--bg-blue-10);
  background-color: var(--highlight-pink);
}

/* MAIN -----------------------*/

.main {
  width: 100vw;
  /* height: auto; */
  display: grid;
  gap: 15px;
  /* Test 130px */
  grid-template-rows: 1fr;
  justify-items: center;
  /* margin: 0 15px; */
}

.main__section {
  max-width: 90%;
  /* aspect-ratio: 0.9/0.4; */
  display: grid;
  /* grid-template-rows: minmax(132px, 1fr) 2fr; */
  /* grid-template-rows: minmax(132px, 1fr) wrap; */

  position: relative;
  background-color: var(--bg-blue-80);
}

.shadow {
  box-shadow: inset 0 0 5px 2px var(--bg-blue-100);
}

.main .details-div {
  width: 100%;
  /* aspect-ratio: 0.9/0.4; */
  display: grid;
  grid-template-columns: 0.8fr 2fr;
  /* grid-template-rows: minmax(130px, 1fr); */
  justify-self: center;
}

.details__figure {
  position: relative;
}

.details__figure img {
  padding-top: 1px;
  padding-left: 1px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.div__quality {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 18px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--highlight-green);
}

.details__quality {
  color: var(--bg-blue-100);
  font-size: 12px;
  font-weight: bold;
}

.details__more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 0 10px 20px;
  color: var(--bg-blue-10);
}

.button-description {
  width: 90px;
  height: 20px;
  border: none;
  color: var(--bg-blue-100);
  background-color: var(--bg-blue-40);
  border-radius: 10px 0 0 10px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.btn-movies {
  right: 20px;
  bottom: 10px;
}

/* Probando */
/* .main__section {
  display: block;
} */

.description {
  opacity: 0;
  height: 0;
  overflow: hidden;
  padding: 0 15px;
  transition: opacity 0.9s ease, height 0.9s ease, padding 0.9s;

  justify-self: center;
  color: var(--bg-blue-10);
  position: relative;
}

.description.actives {
  width: 100%;

  opacity: 1;
  height: 246px;
  padding: 15px;
  /* max-height: 500px; */
}

/* description */

/* .description {
  height: 0;
  overflow: hidden;
} */

/* .description.disabled {
  display: none;
} */

.hide-btn {
  display: none;
  width: 50px;
  right: 10px;
  bottom: 10px;
  position: absolute;
}

.description__cast {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  margin: 0 0 20px 0;
}

.description__overview {
  height: 100px;
  overflow: hidden;
}

/* Pagination ----------------- */

.pagination {
  width: 100vw;
  /* aspect-ratio: 1/0; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  flex-direction: column;

  padding: 20px 15px 30px;
  gap: 20px;
}

.pagination-container {
  display: flex;
  gap: 6px;
}

.load {
  width: 33px;
  height: 33px;
  border: 1px solid var(--bg-blue-10);
  color: var(--bg-blue-10);
  background-color: var(--bg-blue-100);
}

.prevPageBtn,
.nextPageBtn {
  display: flex;
  justify-content: center;
}

.prevPageBtn img,
.nextPageBtn img {
  width: 10px;
  /* width: 100%;
  height: 100%;
  padding: 5px; */
}

.pageNumbers {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 6px;
}

.pagination-count {
  color: var(--bg-blue-20);
}

.active {
  color: var(--highlight-green);
  border: 2px solid var(--highlight-green);
}

/* Footer------------------- */

/* .footer-backtotop {
  font-size: 19px;
  align-self: flex-end;
  color: var(--highlight-green);
  cursor: pointer;
} */
