/* 540px to 766px */

body {
  width: 100%;
}

.header,
.banner,
.main,
.pagination,
body .footer {
  width: 100%;
}

.section-menu {
  justify-content: center;
  gap: 2%;
}

.slider-container {
  aspect-ratio: 16/9;
}
