/* 540px to 766px */

body {
  width: 100%;
}

.header,
.banner,
.main,
.pagination,
body .footer {
  width: 100%;
}

.section-menu {
  justify-content: center;
  gap: 2%;
}

.slider-container {
  aspect-ratio: 16/9;
}

/* Categories */

.categories {
  aspect-ratio: 4/2;
}

.categories .category-list {
  aspect-ratio: 4/2.2;
}

.categories-active {
  /* min-height: 268px; */
  min-height: 290px;
  aspect-ratio: 4/2.2;
}

.categories ul {
  align-content: space-around;
}
